.nav-bar-button {
    padding: 20px;
}

.nav-bar-button div {
    background-color: royalblue;
    color: white; 
    font-size: 18pt;
    border-radius: 5px;
    border: 1px solid white;
    padding: 15px 25px;
}


.nav-bar-button div:hover {
    background-color: green;
    transition-delay: .1s;
    color:white; 
   
}


.upload {
    background-color: grey;
    color: white;
}

.submit {
    background-color: blue;
    color: white;
}

.form-button {
    width: 100%;
    border-radius: 10px;
    padding: 10px 0px;
}


.button-text {
    font-weight: bold;
    margin-left: 40%;
}
