.team-card-main {
    /* box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2); */
    border: .5px solid lightgray;
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;

}
 
.team-card-logo { 
    display: block;
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* border-right: 1px solid lightgrey; */
}

.team-card-content {
    padding: 2px 16px;
}

.padding {
    padding: 0px;
    margin: 0px;
}

.card-table {
    border-collapse:collapse;
}

.info-table {
    border-collapse:collapse;
    height: 100%
}


.info-padding {
    height: 100%;
}


.max-width {
    width: 128px;
}

.info-padding {
    padding: 10px;
}

.team-brd-bt {
    border-bottom: .5px solid lightgray;
}
.team-brd-lt {
    border-left: .5px solid lightgray;
}

.team-brd-tp {
    border-top: .5px solid lightgray;
}

